.component {
    background: white;
    display: flex;
    flex-direction: column;
}

.bestSeller {
    background:rgb(233, 59, 59);
    box-sizing: border-box;
    color: white;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: var(--s-3);
    padding: var(--s-2) var(--s-4);
}

.image {
    width: 100%;
}

.listView {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name {
    color: black;
    display: -webkit-box;
    margin-bottom: var(--s-3);
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.price {
    color: rgb(233, 59, 59);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: var(--s-2) var(--s-4) var(--s-4);
}