.component {
    align-items: flex-end;
    display: flex;
    flex-direction: column-reverse;

    @media only screen and (min-width: 700px)  {
        align-items: center;
        flex-direction: row;
    }
}

.paginationButton {
    background: white;
    border: solid 1px black;
    border-radius: var(--s-1);
    cursor: pointer;
    font-weight: 600;
    padding: var(--s-2) var(--s-4);

    &:not(:last-of-type) {
        margin-right: var(--s-2);
    }

    &:disabled {
        background: rgb(184, 184, 184);
        cursor: default;
    }
}

.totalResults {
    margin: 0 0 var(--s-2) 0;
    
    @media only screen and (min-width: 700px)  {
        margin: 0 0 0 var(--s-4);
    }
}