.contentWrapper {
    display: grid;
    gap: var(--s-4);
    margin: 0 auto var(--s-8) auto;
    max-width: 1440px;
    padding: 0 var(--s-4);

    grid-template-areas:
        "categories"
        "filters"
        "products";

    @media only screen and (min-width: 900px)  {
        grid-template-areas:
            "categories categories categories categories"
            "filters products products products";
    }
}

.button {
    background: white;
    border: dashed 1px black;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    padding: var(--s-2) var(--s-4);
}

.title {
    background: #32AA3C;
    color: white;
    margin: 0px 0px var(--s-4) 0px;
    padding: var(--s-6);
    text-align: center;

    @media only screen and (min-width: 900px)  {
        margin: 0px 0px var(--s-6) 0px;
    }
}