.contentWrapper {
    display: grid;
    gap: var(--s-4);
    grid-template-columns: 1fr;
    margin: 0 auto var(--s-8) auto;
    max-width: 1440px;
    padding: 0 var(--s-4);

    @media only screen and (min-width: 900px)  {
        grid-template-columns: 1fr 3fr;
    }
}

.title {
    background: #32AA3C;
    color: white;
    margin: 0px 0px var(--s-8) 0px;
    padding: var(--s-6);
    text-align: center;
}